body {
  margin: 0;
  background: #2C2B3D;
}

nav {
  margin: 70px 90px 100px;

  display: flex;
  justify-content: space-between;
}

ul {
  display: flex;
  list-style: none;
  gap: 64px;
}

 nav ul li a{
  color: rgba(255, 255, 255);
  text-decoration: none;

  font-size: 14px;
  line-height: 28px;
  font-family: 'JetBrains Mono', monospace;
}

nav ul li a:hover {
  color: rgba(255, 255, 255, 0.5);
}

main {
  width: 1090px;
  margin: auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1, p {
  text-align: center;
}

h1 {
  color: #fff;

  font-style: normal;
  font-size: 36px;
  line-height: 40px;
  font-family: 'JetBrains Mono';
  margin: 0 auto auto 82px;
}

span {
  color: #00BFA6;
}

p {
  color: #C2C2C2;

  font-size: 16px;
  line-height: 28px;
  font-family: 'Open Sans';
}

.text {
  margin: 60px auto auto 82px;
}

footer {
  color: #fff;

  margin-top: 80px;
  text-align: center;

  font-size: 14px;
  line-height: 28px;
  font-family: 'JetBrains Mono';
}

footer a {
  color: #fff;

  text-decoration: none;
}

footer a:hover {
  color: rgba(255, 255, 255, 0.5);
}

.padlock {
  position: fixed;
  left: 20px;
  bottom: 20px;
}